* {
    padding: 0;
    margin: 0;
}

body, html{
    height: 100%;
}

body {
    background: -webkit-linear-gradient(#ffa7a7,rgb(102, 2, 2));
    background: -o-linear-gradient(#ffa7a7,rgb(102, 2, 2));
    background: -moz-linear-gradient(#ffa7a7,rgb(102, 2, 2));
    background: linear-gradient(#ffa7a7,#7F0F41);
    margin:0px !important;
}

.container{
    width: 100%;
    border-top: 100px solid #7F0F41;
}

.container123{
    display: flex;
    margin: -40px 100px 50px 100px;
    transition: transform .5s;
}

.container123 .column figure img:hover{
    transform: scale(1.1);
}

.container123 .container1, .container2, .container3{
    border: black 2px solid;
    width: 33%;
    margin: 7px;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.container123 .column .image{
    display: flex;
    place-content: center;
}

.container123 .column .text {
    text-align: center;
}

.container123 .column button {
    width: 100%;
    color: #ffa7a7;
    padding: 13px 29px;
    cursor: pointer;
    background: #7F0F41;
}

.container123 .column button:hover {
    
    background: #991d55;
}

